.wrapper
  .main-form
    = form_with model: @content, local: true do |f|
      = render 'layouts/error_messages', model: f.object
      %ul.form
        %li.form__title
          投稿を編集する
        = render partial: 'form', locals: { f: f }