.wrapper {
  box-sizing: border-box;
  .header {
    background-color: black;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    align-items: center;
    .title {
      font-size: 45px;
      font-weight: bolder;
      cursor: pointer;
      letter-spacing: 0.1em;
    }
    .info-box {
      display: flex;
      font-size: 20px;
      text-align: center;
      &__search {
        margin-right: 20px;
        cursor: pointer;
      }
      &__left-btn {
        margin-right: 40px;
        cursor: pointer;
      }
      &__center-btn {
        margin-right: 40px;
        cursor: pointer;
      }
      &__right-btn {
        cursor: pointer;
      }
    }
  }

  .notifications {
    color: white;
    text-align: center;  
    .notice {
      background-color: rgb(0, 195, 255);
    }
    .alert {
      background-color: red;
    }
  }

  .main {
    background-color: white;
    width: 100%;
    overflow: scroll;
    padding: 3px;
    .content {
      width: 300px;
      height: 300px;
      display: inline-block;
      position: relative;
      &__image {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        filter: grayscale(100%);
      }
      &__image:hover{
        filter: grayscale(0);
        transition-duration: 0.5s;
      }
      .product-name {
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-shadow:1px 1px 0 white,-1px 1px 0 white,1px -1px 0 white,-1px -1px 0 white;
        font-weight: bolder;
        color: red;
      }
    }
  }

  .main-signed-in {
    background-color: white;
    width: 100%;
    overflow: scroll;
    padding: 3px;
    .content {
      width: 300px;
      height: 300px;
      display: inline-block;
      position: relative;
      &__image {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .product-name {
        position: absolute;
        bottom: 15px;
        left: 15px;
        text-shadow:1px 1px 0 white,-1px 1px 0 white,1px -1px 0 white,-1px -1px 0 white;
        font-weight: bolder;
        color: red;
      }
    }
  }

  .main-form {
    background-color: white;
    width: 100%;
    height: calc(100vh - 170px);
    .form {
      width: 100%;
      text-align: center;
      padding-top: 50px;
      &__title {
        font-size: 34px;
        padding-bottom: 30px;
        letter-spacing: 0.4em
      }
      &__image {
        font-size: 20px;
        &__file {
          cursor: pointer;
          padding-top: 10px;
        }
      }
      &__product {
        width: 70%;
        height: 50px;
      }
      &__link {
        width: 70%;
        height: 50px;
      }
      &__text {
        width: 70%;
        height: 160px;
        margin-bottom: 30px;
      }
      &__btn {
        padding: 15px 40px;
        font-size: 1.2em;
        background-color: #000;
        color: #fff;
        border-style: none;
        cursor: pointer;
      }
    }
  }

  .main-show {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: scroll;
    &__info-name {
      height: 30px;
      font-size: 24px;
      font-weight: bolder;
      padding-top: 30px;
    }
    &__info-product {
      height: 30px;
      font-size: 22px;
      padding-top: 20px;
    }
    &__info-tag {
      .tag-data {
        width: 60px;
        display: inline-block;
        background-color: rgb(5, 112, 5);
        border: 1px solid;
        padding: 5px;
        border-radius: 5%;
        letter-spacing: 0.1em;
        margin: 5px 10px 15px;
      }
    }
    &__info-date {
      height: 15px;
      font-size: 14px;
      margin-bottom: 5px;
      color: gray;
    }
    &__image {
      padding-top: 10px;
      display: block;
      .image {
        width: 400px;
        height: 400px;
      }
    }
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
      &--small-font {
        white-space: pre-wrap;
      }
    }
    &__link {
      font-size: 14px;
      .external-link {
        background-color: #b74949;
        font-size: 16px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5%;
        letter-spacing: 0.1em;
        display: inline-block;
      }
    }
    .chage-content {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .retrun {
        width: 100px;
        background-color: rgb(167, 164, 164);
        padding: 10px;
        border-radius: 5%;
        letter-spacing: 0.1em;
        text-shadow:0.5px 0.5px 0 gray,-0.5px 0.5px 0 gray,0.5px -0.5px 0 gray,-0.5px -0.5px 0 gray;
      }
      .edit {
        width: 100px;
        background-color: rgb(167, 164, 164);
        padding: 10px;
        border-radius: 5%;
        letter-spacing: 0.1em;
        margin: 0 40px;
        text-shadow:0.5px 0.5px 0 gray,-0.5px 0.5px 0 gray,0.5px -0.5px 0 gray,-0.5px -0.5px 0 gray;
      }
      .delete {
        width: 100px;
        background-color: rgb(167, 164, 164);
        padding: 10px;
        border-radius: 5%;
        letter-spacing: 0.1em;
        text-shadow:0.5px 0.5px 0 gray,-0.5px 0.5px 0 gray,0.5px -0.5px 0 gray,-0.5px -0.5px 0 gray;
      }
    }
    .comment-form {
      margin-top: 40px;
      .comment-text {
        width: 80%;
        height: 100px;
        display: block;
        margin: 0 auto;
      }
      .comment-btn {
        width: 200px;
        color: white;
        background-color:#1e35a5;
        padding: 10px;
        border-radius: 5%;
        letter-spacing: 0.1em;
        text-shadow:0.5px 0.5px 0 gray,-0.5px 0.5px 0 gray,0.5px -0.5px 0 gray,-0.5px -0.5px 0 gray;
        margin: 15px 0 40px;
        cursor: pointer;
      }
    }
    .comments-box {
      background-color: rgba(197, 197, 186, 0.514);
      width: 80%;
      margin: 50px auto 40px;
      &__info {
        white-space: pre-wrap;
        text-shadow:0.5px 0.5px 0 black,-0.5px 0.5px 0 black,0.5px -0.5px 0 black,-0.5px -0.5px 0 black;
        font-size: 18px;
        font-weight: bolder;
      }
      &__text {
        font-size: 14px;
        padding-bottom: 15px;
      }
    }
  }

  .pagination {
    background-color: black;
    color: white;
  }

  .footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    line-height: 50px;
    text-align: center;
  }
}


a {
  color: white;
  text-decoration: none;
}
p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}